services:
  mysql:
    image: mysql:8.0
    container_name: fs-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: flash_sale
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    command: >
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --max-connections=500
      --innodb-buffer-pool-size=256M
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot123"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 30s

  redis:
    image: redis:7-alpine
    container_name: fs-redis
    ports:
      - "6379:6379"
    command: >
      redis-server
      --appendonly yes
      --appendfsync everysec
      --auto-aof-rewrite-percentage 100
      --auto-aof-rewrite-min-size 64mb
      --maxmemory 128mb
      --maxmemory-policy allkeys-lru
      --save ""
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 3s
      retries: 10

  api:
    build:
      context: .
      dockerfile: flash-sale-api/Dockerfile
    container_name: fs-api
    ports:
      - "8080:8080"
    environment:
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_DB: flash_sale
      MYSQL_USER: root
      MYSQL_PASSWORD: root123
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: on-failure

  worker:
    build:
      context: .
      dockerfile: flash-sale-worker/Dockerfile
    container_name: fs-worker
    environment:
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_DB: flash_sale
      MYSQL_USER: root
      MYSQL_PASSWORD: root123
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: on-failure

  k6:
    image: grafana/k6:latest
    container_name: fs-k6
    volumes:
      - ./k6:/scripts
    environment:
      BASE_URL: http://api:8080
      PASSWORD: "1234aabb"
      RATE: "500"
      DURATION: "30s"
    command: run /scripts/purchase_load_test.js
    depends_on:
      - api
      - worker
    profiles:
      - load

volumes:
  mysql-data:
  redis-data:
